<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143149781803-k0o24g5fnvntmegki6s09ul91oq4kj2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143149781803-k0o24g5fnvntmegki6s09ul91oq4kj2e</string>
	<key>API_KEY</key>
	<string>AIzaSyB4XKA5VJYZPTgNB2RZyurnIPYGFNQWhkM</string>
	<key>GCM_SENDER_ID</key>
	<string>143149781803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-14255</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-14255.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143149781803:ios:5e4e6757d336c221ed2b6e</string>
</dict>
</plist>